
DSMMC2_Buoi2_MinhHuy/.idea/discord.xml
DSMMC2_Buoi2_MinhHuy/.idea/DSMMC2_Buoi2_MinhHuy.iml
DSMMC2_Buoi2_MinhHuy/.idea/inspectionProfiles/profiles_settings.xml
DSMMC2_Buoi2_MinhHuy/.idea/inspectionProfiles/Project_Default.xml
DSMMC2_Buoi2_MinhHuy/.idea/misc.xml
DSMMC2_Buoi2_MinhHuy/.idea/modules.xml
DSMMC2_Buoi2_MinhHuy/.idea/vcs.xml
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Code Mẫu Game Lô Đề Học-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/GameLoDeHoc-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Hướng dẫn code Game Lô Đề Học-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.1_Viết_code_Python_đầu_tiên_của_bạn-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.2_Các_thao_tác_với_string-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.3_Conditions_and_Branching-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.4_Loops-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.5_Functions_-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/VN_LAB_Practices_1-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Code Mẫu Game Lô Đề Học Pro-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/GameLoDeHoc-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Hướng dẫn code game Lô Đề Học Pro-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Lab 7.6_List_trong_Python-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Lab 7.7_Tuple_trong_Python-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Lab 7.8_Dictionary_trong_Python-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Lab 7.9_Set_trong_Python-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Problem_lab3-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/Code Mẫu Game Lô Đề Học.ipynb
DSMMC2_Buoi2_MinhHuy/drive-download-20240404T124835Z-001.zip
DSMMC2_Buoi2_MinhHuy/Hướng dẫn code Game Lô Đề Học.ipynb
DSMMC2_Buoi2_MinhHuy/VN_LAB_Practices_1.docx
DSMMC_Buoi3_MinhHuy/Code Mẫu Game Lô Đề Học Pro.ipynb
DSMMC_Buoi3_MinhHuy/Hướng dẫn code game Lô Đề Học Pro.ipynb
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/GameLeDoPromax-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/GuideLodePromax-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/inactive-checkpoint.txt
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/Lab 7.10_ExcecptionHandling-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/Lab 8.1_Đọc_Tệp_tin_Python-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/Lab 8.2_Ghi_tệp_tin_trong_Python-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/Lab 9.1_RegexBasic-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/Lab 9.2_Regex Labs-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/members-checkpoint.txt
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/members-Copy1-checkpoint.txt
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/testAppend-checkpoint.txt
DSMMC_Buoi4_MinhHuy/.ipynb_checkpoints/testWrite-checkpoint.txt
DSMMC_Buoi4_MinhHuy/data/.ipynb_checkpoints/taikhoan-checkpoint.txt
DSMMC_Buoi4_MinhHuy/data/.ipynb_checkpoints/Untitled-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/data/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/data/Untitled.ipynb
DSMMC_Buoi4_MinhHuy/data/Untitled1.ipynb
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/.ipynb_checkpoints/Code Mẫu Game Lô Đề Học Pro-checkpoint.ipynb
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/.ipynb_checkpoints/README-checkpoint.md
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/__pycache__/XuLyFile.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/data/.ipynb_checkpoints/taikhoan-checkpoint.txt
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/.ipynb_checkpoints/__init__-checkpoint.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/.ipynb_checkpoints/LoDeHoc-checkpoint.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/.ipynb_checkpoints/Menu-checkpoint.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/.ipynb_checkpoints/MyPath-checkpoint.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/.ipynb_checkpoints/ThongKe-checkpoint.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/.ipynb_checkpoints/XuLyFile-checkpoint.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/.ipynb_checkpoints/XuLyTaiKhoan-checkpoint.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__init__.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/__init__.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/__init__.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/__init__.cpython-38.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/LoDeHoc.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/LoDeHoc.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/Menu.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/Menu.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/myPath.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/myPath.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/ThongKe.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/ThongKe.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/XuLyFile.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/XuLyFile.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/XuLyFile.cpython-38.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/XuLyTaiKhoan.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/__pycache__/XuLyTaiKhoan.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/LoDeHoc.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/Menu.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/myPath.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/ThongKe.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/XuLyFile.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/my_lib/XuLyTaiKhoan.py
DSMMC_Buoi4_MinhHuy/gameLoDeHocProMax-main/gameLoDeHocProMax-main/README.md
DSMMC_Buoi4_MinhHuy/my_lib/.ipynb_checkpoints/__init__-checkpoint.py
DSMMC_Buoi4_MinhHuy/my_lib/.ipynb_checkpoints/LoDeHoc-checkpoint.py
DSMMC_Buoi4_MinhHuy/my_lib/.ipynb_checkpoints/Menu-checkpoint.py
DSMMC_Buoi4_MinhHuy/my_lib/.ipynb_checkpoints/MyPath-checkpoint.py
DSMMC_Buoi4_MinhHuy/my_lib/.ipynb_checkpoints/ThongKe-checkpoint.py
DSMMC_Buoi4_MinhHuy/my_lib/.ipynb_checkpoints/XuLyFile-checkpoint.py
DSMMC_Buoi4_MinhHuy/my_lib/.ipynb_checkpoints/XuLyTaiKhoan-checkpoint.py
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/__init__.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/__init__.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/__init__.cpython-38.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/LoDeHoc.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/LoDeHoc.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/Menu.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/Menu.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/myPath.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/myPath.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/ThongKe.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/ThongKe.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/XuLyFile.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/XuLyFile.cpython-311.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/XuLyFile.cpython-38.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/XuLyTaiKhoan.cpython-310.pyc
DSMMC_Buoi4_MinhHuy/my_lib/__pycache__/XuLyTaiKhoan.cpython-311.pyc
DSMMC_Buoi5_MinhHuy/.ipynb_checkpoints/Lab 10.1_Numpy1D-checkpoint.ipynb
DSMMC_Buoi5_MinhHuy/.ipynb_checkpoints/Lab 10.2_Numpy2D-checkpoint.ipynb
DSMMC_Buoi5_MinhHuy/Lab về nhà/.ipynb_checkpoints/bai3-checkpoint.csv
DSMMC_Buoi5_MinhHuy/Lab về nhà/.ipynb_checkpoints/Problem-Lab05-checkpoint.ipynb
