
DSMMC2_Buoi2_MinhHuy/.idea/discord.xml
DSMMC2_Buoi2_MinhHuy/.idea/DSMMC2_Buoi2_MinhHuy.iml
DSMMC2_Buoi2_MinhHuy/.idea/inspectionProfiles/profiles_settings.xml
DSMMC2_Buoi2_MinhHuy/.idea/inspectionProfiles/Project_Default.xml
DSMMC2_Buoi2_MinhHuy/.idea/misc.xml
DSMMC2_Buoi2_MinhHuy/.idea/modules.xml
DSMMC2_Buoi2_MinhHuy/.idea/vcs.xml
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Code Mẫu Game Lô Đề Học-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/GameLoDeHoc-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Hướng dẫn code Game Lô Đề Học-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.1_Viết_code_Python_đầu_tiên_của_bạn-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.2_Các_thao_tác_với_string-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.3_Conditions_and_Branching-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.4_Loops-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/Lab 7.5_Functions_-checkpoint.ipynb
DSMMC2_Buoi2_MinhHuy/.ipynb_checkpoints/VN_LAB_Practices_1-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Code Mẫu Game Lô Đề Học Pro-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/GameLoDeHoc-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Hướng dẫn code game Lô Đề Học Pro-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Lab 7.6_List_trong_Python-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Lab 7.7_Tuple_trong_Python-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Lab 7.8_Dictionary_trong_Python-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Lab 7.9_Set_trong_Python-checkpoint.ipynb
DSMMC_Buoi3_MinhHuy/.ipynb_checkpoints/Problem_lab3-checkpoint.ipynb
